#Heading {
    text-align: center;
    font-size: 50px;
    color: aliceblue;
    padding: 30px;
}

#cards {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.card {
    margin-bottom: 40px;
    border-width: 3px;
    margin-left: 70px;
    background-color: #ffffff;
    color: #010101;
    display: inline-block;
    border: none;
    width: 20rem;
}

.card-img-top img {
    width: 100% !important;
    text-align: left;
    height: 200px;
    border: none;
}

.card-body {
    text-align: center;
    font-size: 25px;
}

#image {
    display: block;
    width: 100%;
}

#Sname {
    font-size: 30px;
    background-color: #368FCB;
    color: #f0f0f0;
    display: inherit;
    text-align: center;
    margin-top: 10px;
}

#splinks {
    width: 35px;
    border-radius: 10px;
    margin-left: 10px;
}

@media only screen and (max-width:768px) {
    .card {
        width: 80%;
        margin-left: 10% !important;
    }
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 1000px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    color: white;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.sicons {
    margin-left: 40%;
    padding-left: 20px;
}